@import "../../../styles/common";

.user-profile-section {
  .user-profile-heading {
    border-bottom: solid 2px black;
    width: 100%;
    flex-wrap: wrap;
    margin: 2.3rem 0rem 1.25rem 0;
    .user-profile-title {
      margin: 0;
      font-size: 1.8rem;
      font-family: $proxima-nova;
      font-weight: 600;
      font-stretch: normal;
      line-height: 1.8;
    }
    .search-block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 0;
      width: 100%;
      max-width: 12rem;
      svg {
        position: absolute;
        left: 0.6rem;
        color: #020f177d;
        font-size: 1.2rem !important;
      }
      input {
        border-radius: 50rem;
        height: 2.1rem;
        border: 1px solid transparent;
        margin-left: 0;
        outline: none;
        width: 100%;
        padding: 0.5rem 2rem;
        font-size: 1.2rem !important;
        &::placeholder {
          color: #020f177d;
          font-family: $proxima-nova;
          font-weight: 400;
        }
      }
      .filt-flex-search {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 0;
        width: 100%;
        max-width: 12rem;
        .search-box-add {
          border-radius: 50rem;
          height: 2.1rem;
          border: 1px solid #939393;
          margin-left: 0;
          outline: none;
          width: 100%;
          padding: 0.5rem 2rem;
          background-color: transparent;
          font-size: 1rem !important;
          &::placeholder {
            font-size: 1rem;
          }
        }
        .search-button {
          border-radius: 50rem;
          margin-left: 0.2rem;
          height: 2.1rem;
          width: 2.1rem;
          display: flex;
          padding: 0 !important;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          svg {
            height: 1.2rem;
            width: 1.2rem;
          }
        }

        .search-close-button {
          border-radius: 50rem;
          margin-left: 0.2rem;
          height: 2.1rem;
          width: 2.1rem;
          display: flex;
          padding: 0 !important;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
  .top-flex-block-pill {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 0.1rem solid black;
    .top-flex-block-pill-box {
      display: flex;
      .top-activity-filter-pill {
        color: #8c8c8c;
        background: transparent;
        border: none;
        border-radius: 0 !important;
        font-family: $proxima-nova;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 0.8rem 0 !important;
        margin-right: 2rem;
        &.active {
          color: #000;
          background: transparent;
          border-radius: 0 !important;
          border: none;
          border-bottom: 0.2rem solid #000;
        }
      }
    }
    .search-block {
      display: flex;
      align-items: center;
      justify-content: center;
      .filt-flex-search {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 0;
        width: 100%;
        max-width: 12rem;
        .search-box-add {
          border-radius: 50rem;
          height: 2.1rem;
          border: 1px solid #939393;
          margin-left: 0;
          outline: none;
          width: 100%;
          padding: 0.5rem 2rem;
          background-color: transparent;
          font-size: 1rem !important;
        }
        .search-button {
          border-radius: 50rem;
          margin-left: 0.2rem;
          height: 2.1rem;
          width: 2.1rem;
          display: flex;
          padding: 0 !important;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          svg {
            height: 1.2rem;
            width: 1.2rem;
          }
        }

        .search-close-button {
          border-radius: 50rem;
          margin-left: 0.2rem;
          height: 2.1rem;
          width: 2.1rem;
          display: flex;
          padding: 0 !important;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
      .userprofile-filter-dropdown {
        margin: 0 0.5rem;
      }
    }
  }

  .user-profile-table-section {
    margin-top: 1rem;
    // overflow-x: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    .user-profile-table-section-block {
      width: 100%;
      overflow-x: auto;
    }
    .user-profile-table {
      width: 100%;
      thead {
        tr {
          background: #212031;
          th {
            padding: 0.6rem 1rem;
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 1rem;
            color: #ffffff;
            font-weight: 600;

            border-bottom: solid 1px #e6e7e8;
            &.slno {
              width: 7rem;
            }
            &.table-text-right {
              text-align: right;
            }
            &.table-text-center {
              text-align: center;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 0.6rem 1rem;
            white-space: nowrap;
            text-transform: lowercase;
            // letter-spacing: 0.1rem;
            font-size: 1.1rem;
            border-bottom: solid 1px #e6e7e8;
            color: #696969;
            &.table-text-right {
              text-align: right;
            }
            &.table-text-center {
              text-align: center;
            }
          }
        }
      }
    }
    .userprofile-filter-dropdown {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      color: #1d1c2c;
      .badge.badge-pill {
        display: flex;
        font-size: 1.1rem !important;
        font-weight: 600;
      }
      .userprofile-drop_mkplace {
        margin-left: 0.5rem;
      }
    }
  }

  .loading-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-profile-table-pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .userprofile-drop {
    font-family: $proxima-nova;
    font-weight: 600;
  }
  .show.dropdown svg {
    color: unset;
  }
}

.user-detail-modal-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .modal-dialog {
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem auto;
    max-width: 45rem !important;
  }
  .user-detail-heading-popup {
    .user-profile-detail-heading-popup {
      font-family: $proxima-nova;
      font-weight: 600;
      color: #ffffff;
      font-size: 1.2rem;
    }
  }

  .user-detail-body-popup {
    overflow: auto;
    .user-image {
      height: 4rem;
      border-radius: 50%;
      width: 4rem;
      object-fit: cover;
      margin-right: 1rem;
    }
    .user-profile-detail-heading {
      font-family: $proxima-nova;
      font-weight: 600;
      font-size: 0.8rem;
      color: #828282;
    }
    .user-profile-detail-value {
      font-size: 1.2rem;
      h6 {
        font-family: $proxima-nova;
        font-weight: 600;
        font-size: 1.1rem;
        margin: 0;
      }

      .name-group {
        .name-info {
          font-size: 1rem;
          max-width: 20rem;
          text-align: center;
          color: #929394;
        }
        h4 {
          font-size: 1.6rem;
          word-break: break-word;
          color: #000;
          margin-bottom: 0.2rem;
          margin-top: 0;
          font-weight: 600;
          @media screen and (max-width: 767px) {
            font-size: 1.2rem;
          }
        }
        h6 {
          color: #5e5e5e;
          font-family: $proxima-nova;
          font-weight: 400;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }
        }
      }
      h6.kyc-block {
        font-size: 1rem !important;
        margin-top: 0.3rem !important;
        text-transform: capitalize;
        .kyc-status {
          margin-right: 0.5rem;
          font-weight: 600;
        }
        .role {
          background: #671101 !important;
          color: #fff;
        }
        span {
          padding: 0.2rem 1rem;
          display: inline-block;
          border-radius: 50rem;
          text-transform: uppercase;
          font-size: 0.8rem;
          background: #e1e1e1;
          // [“success”, nil, “failed”, “expired”, “partially_verified”]
          &.success {
            background: #1a8754;
            color: #fff;
          }
          &.failed,
          &.expired {
            background: #dc3545;
            color: #fff;
          }
          &.partially_verified {
            background: #ffc008;
            color: #fff;
          }
        }
      }
      button {
        font-family: $proxima-nova;
        font-weight: 600;
      }
    }
    .mobi-flex-column {
      @media screen and (max-width: 425px) {
        flex-direction: column;
      }
    }
    .value-card {
      padding: 2rem 1rem !important;
      background: #f8f8f8;
      border-radius: 0.5rem;
      margin: 0.5rem 0.5rem 0.5rem;
      @media screen and (max-width: 425px) {
        width: 100%;
        max-width: 20rem;
        margin: 0.5rem auto;
      }
      .user-profile-detail-heading {
        font-family: $proxima-nova;
        font-weight: 600;

        font-size: 1rem;
        color: #828282;
        text-align: center;
        margin-bottom: 0.5rem;
      }
      .coin-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
        font-family: $proxima-nova;
        font-weight: 600;
        font-size: 1.2rem;
        font-size: 1.8rem;
        @media screen and (max-width: 767px) {
          font-size: 1.2rem;
        }
        img {
          height: 1.5rem;
          width: 1.5rem;
          margin-bottom: 0;
        }
      }
      .coin-usd-detail {
        text-align: center;
        color: #000;
        margin-left: 0.2rem;
        font-size: 1.5rem;
        @media screen and (max-width: 767px) {
          font-size: 1rem;
        }
      }
    }
    .user-profile-email {
      display: flex;
    }
    .revokesubbutton {
      color: black;
      background-color: white;
      border: 0.1rem solid black;
      border-radius: 2rem;
      width: 100%;
      padding: 0.1rem 1rem;
      font-size: 0.8rem;
    }
    .makesubbutton {
      color: #28a745;
      background-color: white;
      border: 0.1rem solid #28a745;
      border-radius: 2rem;
      width: 100%;
      padding: 0.1rem 1rem;
      font-size: 0.8rem;
    }
    .revokesubbuttonauth {
      color: white;
      background-color: black;
      border: 0.1rem solid black;
      border-radius: 2rem;
      width: 13rem;
      padding: 0.1rem 1rem;
      font-size: 0.8rem;
    }
    .makesubbuttonauth {
      color: white;
      background-color: #28a745;
      border: 0.1rem solid #28a745;
      border-radius: 2rem;
      width: 13rem;
      padding: 0.1rem 1rem;
      font-size: 0.8rem;
    }
  }
  .modal-footer {
    justify-content: center;
    border: none;
  }
  &.nft-card-show {
    .modal-dialog {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      max-width: 45rem !important;
      transform: none !important;
      @media screen and (max-width: 680px) {
        max-width: 100% !important;
      }

      .modal-content {
        border-radius: 1.6rem 0 0 1.6rem !important;
        height: 100%;
        @media screen and (max-width: 680px) {
          border-radius: 0rem !important;
        }
        .modal-header {
          padding: 1.1rem 1.1rem;
          padding: 1.1rem 1.1rem;
          color: white;
          background: transparent
            linear-gradient(97deg, #5d0e4e 0%, #722807 100%) 0% 0% no-repeat
            padding-box;
          box-shadow: 0px 0px 16px #00000099;
          border: 2px solid #671101;
          border-radius: 1.5rem 0 0 0;
          @media screen and (max-width: 680px) {
            border-radius: 0rem !important;
          }
        }
        .modal-footer {
          justify-content: center;
          border: none;
        }
      }
    }
  }
}

.twofa-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45rem !important;
  }
  .twofa-modal-header {
    font-family: $proxima-nova;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .twofa-modal-body {
    .twofa-modal-heading-text {
      font-weight: bold;
      font-size: 0.8rem;
      color: #000;
      &.resend-otp {
        text-align: center;
      }
    }
    .twofa-modal-search {
      // height: 2.625rem;
      padding-left: 1rem;
      border: 0.1rem solid #bfbfbf !important;
      background: #fafafa;
      &.disabled {
        border: none !important;
        background: #dbdada;
        font-family: $proxima-nova;
        font-weight: 600;
      }
    }
    .twofa-modal-sent-otp {
      color: #de6f00;
      background-color: #fff;
      border: none;
      border-radius: 1rem;
      margin-left: 0;
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 0.5rem;
      font-family: $proxima-nova;
      font-weight: 600;
      @media screen and (min-width: 520px) {
        position: absolute;
        right: 2rem;
        bottom: 0rem;
        border: 1px solid #de6f00;
        line-height: 1;
        padding: 0.2rem 0.8rem;
        text-transform: capitalize;
      }
      &:disabled {
        background-color: grey;
        border: 1px solid white;
        color: white;
        opacity: 0.6;
      }
    }
    .twofa-modal-greyedout {
      color: #898989;
      font-size: 0.8rem;
    }
    .twofa-modal-enter-otp {
      color: #000;
      font-size: 1rem;
      margin-bottom: 1rem;
      color: #929394;
    }
    .twofa-modal-makeauthbutton {
      width: 10rem;
      color: white;
      background-color: #28a745;
      border: 0.1rem solid #28a745;
      border-radius: 2rem;
      padding: 0.1rem 1rem;
      font-size: 1rem;
      &:disabled {
        background-color: grey;
        border: 1px solid white;
        color: white;
      }
    }
    .twofa-modal-dropdown {
      height: 2.625rem;
      border: 1px solid #bfbfbf !important;
      width: 100% !important;
      padding: 0.5rem;
      padding-left: 1rem;
      margin-bottom: 0rem;
      border-radius: 0.3rem;
      font-size: 1.2rem;
      font-size: 1rem !important;
      margin-bottom: 2rem;
      .twofa-modal-dropdown-menu {
        width: 100%;
        right: 0rem;
        background: #f5f5f5;
        border: 1px solid #dddddd;
        &.dropdown-menu .dropdown-item {
          font-size: 1rem;
          font-family: "proxima-nova" !important;
          border-radius: 0.2rem;
          display: flex;
          align-self: center;
          position: relative;
          align-items: center;
          font-weight: 400;
          margin: 0.3rem 0;
          color: #000000;
          &:hover {
            color: #de6f00;
          }
        }
        input.filter-search.form-control {
          padding-right: 2rem;
        }
        svg.filter-search-icon {
          z-index: 9;
          position: absolute;
          top: 1.4rem;
          right: 1rem;
          color: #000 !important;
          fill: #000 !important;
        }
        ul.list-unstyled.scroll-fixed {
          max-height: 10rem;
          overflow-y: auto;
          margin: 0;
        }
      }
    }

    .verification-section-save {
      .otp-info {
        font-size: 1rem;
        max-width: 20rem;
        text-align: center;
        color: #929394;
      }
    }
  }
}

.user-profile-auth-modal-popup {
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45rem !important;
    .user-profile-auth-modal-header {
      justify-content: center;
    }
    .user-profile-auth-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      h4 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: center;
        color: #696969;
        font-family: $proxima-nova;
        font-weight: 400;
        span {
          font-family: $proxima-nova;
          font-weight: 600;
          color: #000;
        }
      }
      button {
        font-family: $proxima-nova;
        font-weight: 600;
        width: 48%;
        max-width: unset;
        min-width: unset;
      }
    }
  }
}
.dot-flashing {
  position: relative;
  width: 0.3125rem;
  height: 0.3125rem;
  left: 1.25rem;
  border-radius: 0.3125rem;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -0.9375rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 0.9375rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: black;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
.display-f {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-eye {
  cursor: pointer;
  font-size: 1.2rem;
  margin: auto 0.5rem;
}

.loader-userdetail-area {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0 0 0 0;
  background: #f9f9f9cc;
  margin-left: 14em;
}

.makesubbutton {
  font-weight: 600;
  border-radius: 50rem;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  width: 6rem;
  border: 0.1rem solid #1da02f;
  color: #21b134;
  background: #fff;
  &:hover,
  &:focus,
  &:active {
    border: 0.1rem solid #1da02f;
    background-color: #21b134;
    color: #fff;
  }
}

.revokesubbutton {
  font-weight: 600;
  border-radius: 50rem;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  width: 6rem;
  border: 0.1rem solid #bf1e1e;
  color: #de2626;
  background: #fff;
  &:hover,
  &:focus,
  &:active {
    border: 0.1rem solid #bf1e1e;
    background-color: #de2626;
    color: #fff;
  }
}

.user-more-info-block {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .grouped-info-box {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f5;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    & > h6 {
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: flex-start;
      // flex-wrap: wrap;
      // gap: 1rem;
      margin: 1rem 0;
      width: 100%;
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        gap: 0.5rem;
      }
      li {
        padding: 0rem 0.5rem;
        border-left: 0.1rem solid #dcdcdc;
        border-radius: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 48%;
        // @media screen and (max-width: 767px) {
        //   width: 48%;
        //   margin-bottom: 0.3rem;
        //   border: none;
        //   background: #f2f3f6;
        //   padding: 1rem;
        //   border-radius: 0.5rem;
        // }

        &:first-child {
          border: none;
        }
        h5 {
          font-weight: 400;
          color: #454545;
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          img {
            height: 1.5rem;
            margin-right: 0.3rem;
          }
        }
        .count {
          font-size: 1.6rem;
          margin: 0;
          font-weight: 600;
          color: #474646;
          text-align: center;
        }
        .coin-usd-detail {
          color: #9e9e9e;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}

.user-nft-list-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  article.user-nft-list-items {
    width: calc(33.33% - 1rem);
    padding: 0.2rem;
    position: relative;
    border-radius: 0.5rem;
    transition: 0.5s;
    background: #212031;
    margin: 0.5rem !important;
    box-shadow: 0.1rem 0.1rem 0.5rem #0e0e1c85, -0.1rem -0.1rem 0.5rem #35354585;
    color: #fff;
    @media screen and (max-width: 580px) {
      width: calc(50% - 1rem);
    }

    @media screen and (max-width: 425px) {
      width: calc(100%);
      margin: 0 0 1rem;
    }
    h6 {
      font-weight: 600;
      color: #fff;
      margin-top: 0.5rem;
      padding: 0 0.5rem;
      font-size: 1.1rem;
    }
    .image-boxs {
      .user-image {
        height: 100%;
        border-radius: 0.5rem;
        width: 100%;
        object-fit: contain;
        background: #000;
        margin: 0;
      }
    }
    .player_stats {
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      & > div {
        width: 33.33%;
        text-align: center;
        display: flex;
        align-items: center;
      }
      .player-type {
        padding: 0.3rem 0.2rem;
        // position: absolute;
        // top: 0;
        // right: 0;
        img {
          display: flex;
          max-height: unset !important;
          object-fit: contain;
          object-position: center;
          padding: 0.4rem;
          min-width: 2.5rem;
          min-height: 2.5rem;
          background: #000000;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50rem;
          margin: 0 auto;
          border: 0.1rem solid #ffffff8f;
        }
      }
      .bat-type-2x {
        padding: 0.2rem 0.1rem;
        // border-bottom: 0.1rem solid #3b3b3b;
        img {
          display: flex;
          max-height: unset !important;
          -o-object-fit: contain;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          // padding: 0.4rem;
          min-width: 3rem;
          min-height: 3rem;
          background: #211c1c;
          width: 3rem;
          height: 3rem;
          margin-top: 0;
          margin-bottom: 0;
          border-radius: 50rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .player-range {
        padding: 0.6rem 0.4rem;
        border-bottom: none !important;
        .band {
          padding: 0.2rem 0.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.08rem;
          line-height: 1;
          border-radius: 15px;
          color: #fff !important;
          margin: 0;
          font-size: 0.9rem;
          font-family: $proxima-nova;
          font-weight: 600;
        }
      }
      .player-level {
        padding: 0.2rem 0.2rem;
        display: flex;
        flex-direction: column-reverse;
        img {
          display: flex;
          max-width: 2.8rem;
          max-height: unset !important;
          object-fit: contain;
          object-position: center;
          padding: 0.2rem;
          width: 100%;
          height: auto;
          margin-bottom: 0;
          border-radius: 0;
          border: none;
        }
        h6 {
          font-family: $proxima-nova;
          font-weight: 600;
          font-size: 0.8rem;
          text-transform: uppercase;
          letter-spacing: 0.08rem;
          text-align: center;
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
    .revoke-btn {
      padding: 0.3rem;
      max-width: unset;
      margin: 0.5rem;
      width: calc(100% - 1rem);
    }
  }
}
.user-nft-list-nodata {
  display: flex;
  height: calc(100vh - 31rem);
  justify-content: center;
  align-items: center;
  h6 {
    font-size: 1.5rem;
    opacity: 0.5;
  }
}

.assign-auth-popup-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: none !important;
  width: 100%;

  .user-profile-auth-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    h4 {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      text-align: center;
      color: #696969;
      font-family: $proxima-nova;
      font-weight: 400;
      span {
        font-family: $proxima-nova;
        font-weight: 600;
        color: #000;
      }
    }
    button {
      font-family: $proxima-nova;
      font-weight: 600;
      width: 48%;
      max-width: unset;
      min-width: unset;
    }
  }
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45rem;
  }
  .assign-auth-popup-modal-header {
    .pop-header {
      width: 100% !important;
    }
  }
  .assign-auth-popup-modal-body {
    .assign-section-auth {
      // padding: 1rem 1rem 1rem 1rem;
      width: 100% !important;

      .popup-name-section-auth {
        gap: 2rem;
        display: flex !important ;
        align-items: center !important;
        justify-content: space-between !important;
      }
      .popup-timing-section-auth {
        padding-top: 2rem;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
      }

      .asign-confirm-info-block {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0 0;
        flex-direction: column;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          padding: 1rem 0 0;
        }
        .asign-confirm-info-box {
          width: 100%;
          margin-bottom: 1rem;
          @media screen and (max-width: 767px) {
            // text-align: center;
            width: 100%;
            margin: 0.5rem 0;
          }
          // @media screen and (min-width: 768px) {
          //   &:last-child {
          //     text-align: right;
          //   }
          // }
          .timing-section {
            .guildnft-counter {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              .guildnft-interval {
                color: #000;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
    .option-button {
      justify-content: space-between;
      max-width: 26rem;
      margin: 1.5rem auto 0;
      .btn {
        width: 48%;
        max-width: unset;
        min-width: unset;
      }
    }
  }
  .modal-footer {
    justify-content: center;
    border: none !important;
  }
}
