@import "../../styles/common";

.terms-text-reg {
  .terms-link {
    color: #182aff !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tab-content {
  padding-bottom: 16px;
  border-bottom: 1px solid;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.tab-content-active {
  border-bottom: 3px solid !important;
}

.expire-time {
  font-size: 1rem !important;
  font-family: $proxima-nova;
  font-weight: 400;
}

.expire-interval {
  font-size: 0.8rem !important;
  font-family: $proxima-nova;
  font-weight: 400;
}

.expire-interval-space {
  margin-right: 0.5rem !important;
  font-family: $proxima-nova;
  font-weight: 400;
}
.font-bold {
  font-weight: bold;
  color: red;
}
.text_right_nav {
  float: right;
  text-decoration: unset !important;
  font-weight: bold;
  color: #0d6efd;
}

.text_right_change_email {
  float: right;
  color: red !important;
}

.text_right_resend_email {
  font-weight: bold;
  color: red !important;
}
.text_font_size {
  font-size: 1rem;
}

.bl_form_box h4.google_2fa_info {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.6rem !important;
  font-family: $proxima-nova;
  font-weight: 400;
  @media screen and (max-width: 374px) {
    font-size: 1.2rem !important;
  }
}

.use-login-type {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

.link-text {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.3rem;
  user-select: none;
}
