@import "../../styles/common";

.guildmynft-card-box {
  .block-box.jt-card {
    padding: 0.2rem;
    position: relative;
    border-radius: 0.5rem;
    transition: 0.5s;
    background: #212031;
    height: calc(100% - 2rem);
    margin: 1rem 0 !important;
    box-shadow: 0.2rem 0.2rem 1.1rem #0e0e1c85, -0.2rem -0.2rem 1.1rem #35354585;
    &:hover {
      transform: translateY(-10px);
      transition: 0.5s;
    }
    .player_stats {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 4;
      border-radius: 50rem;
      background: #000 0 0 no-repeat padding-box;
      border: 0.18rem solid #3b3b3b;
      .player-type {
        padding: 0.6rem 0.4rem;
        border-bottom: 0.1rem solid #3b3b3b;
        img {
          display: flex;
          max-height: unset !important;
          -o-object-fit: contain;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          padding: 0.4rem;
          min-width: 3rem;
          min-height: 3rem;
          background: #2f2f2f;
          width: 3rem;
          height: 3rem;
          border-radius: 50rem;
          margin: 0 auto;
        }
      }
      .bat-type-2x {
        padding: 0.6rem 0.4rem;
        border-bottom: 0.1rem solid #3b3b3b;
        img {
          display: flex;
          max-height: unset !important;
          -o-object-fit: contain;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          // padding: 0.4rem;
          min-width: 3rem;
          min-height: 3rem;
          background: #211c1c;
          width: 3rem;
          height: 3rem;
          margin-top: 0;
          margin-bottom: 0;
          border-radius: 50rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .player-range {
        padding: 0.6rem 0.4rem;
        // border-bottom: 0.1rem solid #fff;
        .band {
          padding: 0.1rem 0;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.08rem;
          line-height: 1.3;
          border-radius: 15px;
          background: transparent !important;
          color: #fff !important;
          margin: 0;
          font-size: 1.1rem;
          font-family: $proxima-nova;
          font-weight: 600;
        }
      }
      .player-level {
        padding: 0.6rem 0.4rem;
        img {
          display: flex;
          max-width: 3rem;
          max-height: unset !important;
          -o-object-fit: contain;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          padding: 0.2rem;
          width: 100%;
          height: 3rem;
          margin-bottom: 0;
        }
        h6 {
          font-family: $proxima-nova;
          font-weight: 600;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.08rem;
          text-align: center;
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
    img {
      min-width: 100%;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      margin-bottom: 0rem;
      -o-object-position: top;
      object-position: top;
      border-radius: 0.5rem 0.5rem 0 0;
      height: auto;
    }
    .top-content-title {
      position: relative;
      padding: 1rem;
      .more-nft-title {
        color: #fff;
        font-family: $proxima-nova;
        font-weight: 600;
        letter-spacing: 0.08rem;
      }
      .more-nft-desc {
        color: #fff;
        font-family: $proxima-nova;
        font-weight: 400;
        letter-spacing: 0.08rem;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .heart_box {
        position: absolute;
        z-index: 2;
        height: 3rem;
        width: 3rem;
        border-radius: 50rem;
        right: 1rem;
        top: -3rem;
        .svg_size {
          height: 3rem;
          width: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border: 0.1rem solid #fff;
          color: #fff !important;
          margin-bottom: 0.5rem;
          border-radius: 50rem;
          cursor: pointer;
          background-size: 1.4rem;
          background-position: center;
          background-repeat: no-repeat;

          &.heart_icon {
            border: 0.1rem solid #e8318d;
            box-shadow: inset 0px 0px 20px #e8318d !important;
            background-image: url("../../images/jump-trade/heart_ico.png");
          }
          &.filled_heart_icon {
            border: 0.1rem solid #e8318d;
            box-shadow: inset 0px 0px 20px #e8318d !important;
            background-image: url("../../images/jump-trade/heart-filled.png");
          }
        }
      }
    }

    .more-bid-details {
      margin-top: 1.5rem;
      .mb-title {
        color: #fff !important;
        font-family: $proxima-nova;
        font-weight: 400;
        font-size: 0.9rem;
        letter-spacing: 0.08rem;
      }
      .mb-value {
        color: #fff;
        font-family: $proxima-nova;
        font-weight: 600;
        font-size: 1rem;
      }
    }
    .item-post {
      position: relative;
      span.onsale-badge {
        position: absolute;
        z-index: 9;
        color: #95ff8d;
        bottom: 0;
        right: 0;
        background: #073824;
        margin-bottom: 0;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0;
        padding: 0rem 1rem;
        padding: 0rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        border: 2px solid #95ff8d;
        text-transform: uppercase;
      }
      .nft-type-badge {
        color: #95ff8d;
        font-size: 0.7rem;
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        max-width: 3.5rem;
        min-width: 3.5rem;
        padding: 0;
        box-shadow: none;
        z-index: 2;
        background: transparent;
        border: 0.05rem solid #95ff8d;
        font-family: $proxima-nova;
        font-weight: 600;
      }
    }
    // .nft-type-badge-rank {
    //   position: absolute;
    //   top: 0.5rem;
    //   left: 0.5rem;
    //   right: auto;
    //   background: #000;
    //   border: 1px solid #fff;
    //   color: #fff;
    //   font-size: 1rem;
    //   border-radius: 0.3rem;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   min-width: 6rem;
    //   padding: 0.1rem 0.5rem;
    //   box-shadow: none;
    //   z-index: 2;
    //   font-family: $proxima-nova;
    //   font-weight: 600;

    //   .rank-title {
    //     font-size: 0.9rem;
    //     text-transform: capitalize;
    //     font-family: $proxima-nova;
    //     font-weight: 600;
    //     margin-right: 0;
    //   }
    // }
    // .nft-type-badge-rank {
    //   position: absolute;
    //   top: 0.5rem;
    //   left: 0.5rem;
    //   right: auto;
    //   background: #000;
    //   border: 1px solid #fff;
    //   color: #fff;
    //   font-size: 1rem;
    //   border-radius: 0.3rem;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   min-width: 6rem;
    //   padding: 0.1rem 0.5rem;
    //   box-shadow: none;
    //   z-index: 2;
    //   font-family: $proxima-nova;
    //   font-weight: 600;

    //   .rank-title {
    //     font-size: 0.9rem;
    //     text-transform: capitalize;
    //     font-family: $proxima-nova;
    //     font-weight: 600;
    //     margin-right: 0;
    //   }
    // }
    .nft-type-badge-rank {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      right: auto;
      background: #000;
      border: 1px solid #fff;
      color: #fff;
      font-size: 1rem;
      border-radius: 0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 6rem;
      padding: 0.1rem 0.5rem;
      box-shadow: none;
      z-index: 2;
      font-family: $proxima-nova;
      font-weight: 600;

      .rank-title {
        font-size: 0.9rem;
        text-transform: capitalize;
        font-family: $proxima-nova;
        font-weight: 600;
        margin-right: 0;
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.2rem;
        }
      }
    }
    .item-content {
      position: relative;
      color: #fff;
      padding: 1rem;
      .post-title-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        .post-title-block {
          // width: calc(100% - 4rem);
          width: calc(100%);
          .post-user-name {
            color: #ffffff99;
            font-weight: 400;
            letter-spacing: 0.08rem;
            white-space: nowrap;
            max-width: calc(100% - 5rem);
            margin-right: 0.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.95rem;
          }
          .post-title {
            font-size: 1.3rem;
            font-family: $proxima-nova;
            font-weight: 600;
            display: block;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: calc(100%);
            color: #ffffff;
          }
        }
        .nft-type-badge {
          color: #95ff8d;
          font-size: 0.7rem;
          border-radius: 0.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 1.5rem;
          max-width: 3.5rem;
          min-width: 3.5rem;
          padding: 0;
          box-shadow: none;
          z-index: 2;
          background: transparent;
          border: 0.05rem solid #95ff8d;
          font-family: $proxima-nova;
          font-weight: 600;
        }
      }
    }
    .time-counter-box {
      position: absolute;
      left: 1rem;
      right: initial;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      background: #000;
      border-radius: 50rem;
      color: #fff;
      top: -3rem;
      flex-direction: row;
      background: transparent linear-gradient(94deg, #e2ff00 26%, #08ff0b 100%)
        0% 0% no-repeat padding-box;
      .time-counter-card {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        color: #000;
        padding: 0.2rem 1rem 0.2rem 1rem;
        border-radius: 50rem;
        background: transparent
          linear-gradient(94deg, #e2ff00 26%, #08ff0b 100%) 0% 0% no-repeat
          padding-box;

        span.time-title,
        .nft-counter {
          line-height: 1;
        }
      }
    }
  }
  // button.btn.btn-dark {
  //   &:hover,
  //   &:focus,
  //   &:active {
  //     background: #fff;
  //     color: #000;
  //   }
  // }
}

.assign-card-button {
  button {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}
